<div class="container mb-2">
    <div class="form-inline align-content-center pagination" id="pagination">
        <span class="btn-outline-dark btn-dark mr-1 disabled pagination-info">Page <span id="page-index-info"></span> of <span id="page-total"></span></span>
        <input type="button" class="page-item btn border" value="<<" onclick="PreviousPage()" />
        <input type="button" class="btn btn pagination-info border" id="page-index" disabled />
        <input type="button" class="page-item btn border" value=">>" onclick="NextPage()" />@*btn btn-outline-dark second-button*@
    </div>
</div>