<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Sam.ATV.Serialization">
          <targetDataStore physicalRootPath="C:\Projects\Sam.ATV\Source\Serialization\Sam.ATV.Serialization\serialized"
                           useDataCache="false"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                           singleInstance="true"/>
          <predicate>

            <!-- Master db: Content -->
            <!--<include name="Content.Sam" database="master" path="/sitecore/content/sam" />-->
            <include name="Content" database="master" path="/sitecore/content/Sam" />

            <!-- Master db: Templates, Renderings, Placeholders, Layouts -->
            <include name="Templates.Foundation" database="master" path="/sitecore/templates/Foundation" />
            <include name="Templates.Feature" database="master" path="/sitecore/templates/Feature" />
            <include name="Templates.Project" database="master" path="/sitecore/templates/Project" />
            
            <include name="Layouts" database="master" path="/sitecore/Layout" />
            <include name="MediaLibrary" database="master" path="/sitecore/media library/Images" />

            <!-- Core db: Ribbons -->

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
