@using Sitecore.Mvc
@model Sam.ATV.Web.Areas.ATV.Models.Order.ViewModels.OrderViewModel
<script type="text/javascript" src="~/Scripts/jquery-3.0.0.js"></script>
<div class="mb-2">
    <form id="trip-search" class="form-inline">
        <div class="form-group">
            @*<label class="sr-only" for="search-field">Search:</label>*@
            @*<input id="search-field" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">*@
            <input id="search-field" type="search" class="form-control" style="width:300px;" placeholder="Search" aria-label="Search">
        </div>
        <input type="button" class="btn btn-primary" value="Search" onclick="Search()">
    </form>
    <div id="search-results">

    </div>
</div>

<script type="text/javascript">
        let searchText = '';
        let pageSize = 4;
        let pageIndex = '';
        let pageTotal = '';

        $(document).ready(function () {
            $('#page-index-info').text('1');
            $('#page-index').val('1');
            FirstPage();
        })

        let FirstPage = function () {


            searchText = '';
            $('#page-index-info').text('1');
            $('#page-index').val('1');
            //pageSize = 6;
            pageIndex = $('#page-index').val();

            $('#page-size').removeAttr('disabled');

            $.ajax({
                url: "/Search/SubmitOrderSearch",
                method: "GET",
                data: {
                    SearchText: searchText,
                    PageSize: pageSize,
                    PageCurrent: pageIndex
                },
                success: function (results) {

                    $('#search-results').html(results);
                },
                error: function (data) {

                    //$('#search-results-hotels').html('<h2>Ooops... No results.</h2>');
                }
            });
        };

        let NextPage = function () {
            debugger;
            searchText = '';
            //pageSize = 6;
            pageIndex = $('#page-index').val();
            pageTotal = $('#page-total').text();
            pageIndex++;
            if (pageIndex <= pageTotal) {
                $.ajax({
                    url: "/Search/SubmitOrderSearch",
                    method: "GET",
                    data: {
                        SearchTerm: searchText,
                        PageSize: pageSize,
                        PageCurrent: pageIndex
                    },
                    success: function (results) {
                        $('#search-results').html(results);
                    },
                    error: function (data) {
                        //$('#search-results-hotels').html('<h2>Ooops... No results.</h2>');
                    }
                });
                $('#page-index').val(pageIndex);
                $('#page-index-info').text(pageIndex);
            }
        };

        let PreviousPage = function () {
            searchText = '';
            //pageSize = 6;
            pageIndex = $('#page-index').val();
            pageTotal = $('#page-total').text();
            pageIndex--;
            if (pageIndex >= 1) {
                $.ajax({
                    url: "/Search/SubmitOrderSearch",
                    method: "GET",
                    data: {
                        SearchTerm: searchText,
                        PageSize: pageSize,
                        PageCurrent: pageIndex
                    },
                    success: function (results) {
                        $('#search-results').html(results);
                    },
                    error: function (data) {
                        //$('#search-results-hotels').html('<h2>Ooops... No results.</h2>');
                    }
                });
                $('#page-index').val(pageIndex);
                $('#page-index-info').text(pageIndex);
            }
        };

        let Search = function () {
            searchText = $('#search-field').val();
            $('#page-index-info').text('1');
            $('#page-index').val('1');
            //pageSize = 6;
            pageIndex = $('#page-index').val();
            //let a = pageIndex;
            $('#page-total').text(pageIndex);

            $.ajax({
                url: "/Search/SubmitOrderSearch",
                method: "GET",
                data: {
                    SearchTerm: searchText,
                    PageSize: pageSize,
                    PageIndex: pageIndex
                },
                success: function (results) {
                    $('#search-results').html(results);
                },
                error: function (data) {

                    //$('#search-results-hotels').html('<h2>Ooops... No results.</h2>');
                }
            })
        }
</script>

